# Ignore node modules in any package
node_modules/
/dist

# Environment files
/.env
.env.local
.env.*.local

/.vscode
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.swo

# Ignore build artifacts
/build
/coverage
/target
/out

# Ignore IDE and editor files
/.idea/